<!DOCTYPE html>
<!--Created by Ben McCormick 2013 -->
<html>
    <head>
       <title>Summit Church Bingo</title>

       <link rel="stylesheet" type="text/css" href="css/bingo.css">
         <script type="text/rocketscript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37323973-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
    </head>
    <body ng-app>
        <div id="header">
            <h2>Summit Church Bingo</h2>
            <div id="description"> 
            <p>
                This is a light-hearted game of Bingo for anyone who spends their weekends at the Summit Church in the Research Triangle of North Carolina. Try and see if you can achieve a bingo by watching for the following phrases and occurrences during the course of this week's sermon.
            
            </p><p>
                 
                Please note that this does not count as "taking notes". It also will probably add very little spiritual enrichment. It may however allow us to laugh together. Play responsibly.
            </p>
            </div> 
        </div>
        <div id="bingoarea" ng-controller="BoardCtrl" 
          class="bingo-{{isBingo()}}" >
        
        <ul id="bingoboard" class="hidden">
           <li ng-repeat="square in squares" ng-click="toggle(square)" class="selected-{{square.selected}}
           freesquare-{{square.isFreeSquare}}
           bingosquare-{{square.bingo}}">
            <span>{{square.text}}</span>
           </li>
        </ul>
    </div>
    <div id="footer">
    
        <p>This site is not affiliated with The Summit Church.  
        Anything offensive or confusing here (other than the Gospel) is most likely due to me and does not represent the opinions of The Summit Church, its pastors, or employees.</p>
        <p>If you have suggestions for improvements to this game, or more content for the bingo boards, feel free to let me know via twitter at 
        <a href="https://twitter.com/ben336">@ben336</a>.  Please keep suggestions clean, funny, and appropriate. When in doubt, aim to fear God, respect the church, and love people.</p>
        <p class="tagline">Created by Ben McCormick, 2013</p>
    </div>

        <script type="text/javascript" src="js/lib/angular.min.js"></script>
        <script type="text/javascript" src="js/bingo.js"></script>
    </body>
</html>
