$helv = Helvetica, Arial, sans-serif

flexbox()
  /* IE */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;

*
  margin:0
  padding:0  
  
body
  background: #167E92
  font: 22px / 30px $helv

#header
  width:900px
  margin: 50px auto 50px auto;
  color: white

  h2
    text-align:center
    color: #3E4243
    margin: 30px 
    font: 70px / 85px $helv

#description p
  margin:20px 0 10px 0

#bingoarea
  width:100%
  background-color:#DC563E
  height:1000px
  display:block
  overflow:hidden;

#bingoboard
  width:900px
  display:block
  margin:50px auto 50px auto;
  background-color: #D60017

  &.hidden
    display: none

  li
    display:block
    width:160px
    margin:5px
    padding:5px
    border-radius: 5px
    height:160px
    font: 22px / 28px $helv
    background-color: #3E4243
    color: white
    cursor:pointer
    float:left
    text-align:center
    flexbox()

#footer

  display:block
  width:100%
  background-color: #3E4243
  color: white
  padding-top:10px
  overflow:hidden

  p
    margin: 20px
    &.tagline
      margin-top:40px
      margin-bottom:20px;

  a
    text-decoration: none;
    color: #167E92


#bingoboard li
  
  &.selected-true
    //background-color: #2C3283
    background-image:url("../img/freespace.png")
    //color: #3E4243

  &.freesquare-true
    background-image:url("../img/freespace.png")
    span
      display:inline

  &.bingosquare-true 
    background-image: url("../img/summit.png") !important
    span
      display:none


